<ul  id="slide-out" class="sidenav sidenav-fixed" style="background: #f8f8f9;">
    <li>  
        <div class="user-view" style=" heigth: 100%; background: #2196f3; height: 65px;" >   
            <%= render partial: 'menu/logo_menu' %>
        </div>
    </li>
    <li>
      <div class="user-view">
         <span class=" grey-text name">
            <p style="font-family: FuturaStd Medium; color: #868383;">Paciente</p>
          </span>
          <span class=" grey-text email" style="font-family: FuturaStd Medium; color: #868383;"> <%= current_user.email %></span>
      </div>
     
    </li>
    <li><div class="divider"></div></li>
    <li>
        <a href="/">
            <i class="material-icons">
                <%= image_tag("icons/ic_dashboard.svg", :alt => "rss feed", style:"width: 25px;") %>
            </i>
            Inicio
        </a>
    </li>
    <li>
        <a href="/perfilP">
            <i class="material-icons">
                <%= image_tag("icons/ic_permissions.svg", :alt => "rss feed", style:"width: 25px;") %>
            </i>
            Perfil
        </a>
    </li>
    <li>
        <a href="/cambiar-password">
            <i class="material-icons">lock_outline</i>
            Cambiar contraseña
        </a>
    </li>
    <% if current_user.patient %>
        <!--<li>
            <a href="/indicar-seguro">
                <i class="material-icons">add_to_photos</i>
                Indicar Seguro
            </a>
        </li>-->
    
        <li>
            <a href="/suscriptions">
                <i class="material-icons">person_add</i>
                Suscripciones
            </a>
        </li>
        <li>
            <a href="/chats">
                <i class="material-icons">
                    <%= image_tag("icons/ic_appointments.svg", :alt => "rss feed", style:"width: 25px;") %>
                </i>
                Consulta
            </a>
        </li>
        <li>
            <a href="/patient-appointments">
                <i class="material-icons">
                    <%= image_tag("icons/ic_forms.svg", :alt => "rss feed", style:"width: 25px;") %>
                </i>
                Historia Clínica
            </a>
        </li>
    <% end %>
    <li style="margin-top:10%;">
        <%= link_to destroy_user_session_path, method: :delete, style:"font-family: FuturaStd bold;" do %>
            <i class="material-icons">exit_to_app</i>
            Salir
        <% end %>
    </li>

</ul>