<div class="row">
    <div class="col s12 m12">
      <div class="card" style="width: 70%; margin-left: 15%; margin-right:15%; margin-top:10%;">
        <div class="card-header">
            <h6 style="margin-left:2%; margin-top:2%; font-family: FuturaStd Medium;">Indique su nueva contraseña</h6>
        </div>
        <div class="card-content">
            <%= form_with model: @user, url: cambiar_password_save_path, id:"formulario"  do |form| %>
                <%= csrf_meta_tags %>

                <div class="row">                     
                    <div class="col s12 m12">
                        <fieldset class="field-set-style" id="group_password">
                            <legend class="legend-style">Nuevo Password</legend>
                            <%= form.password_field :password, autocomplete: "new-password", placeholder: 'password', maxlength: 20, style:"height: 100%; padding:none; border-bottom: none; background:none;" %>
                        </fieldset>
                    </div>
                </div>

                <div class="row">                     
                    <div class="col s12 m12">
                        <fieldset class="field-set-style" id="group_password_confirmation">
                            <legend class="legend-style">Repetir Nuevo Password</legend>
                            <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'confirmar password',maxlength: 20,  style:"height: 100%; padding:none; border-bottom: none; background:none;" %>
                        </fieldset>
                    </div>
                </div>

                <div class="row">                     
                    <div class="col s12 m10"></div>
                    <div class="col s12 m2">
                        <% form.submit "Guardar", class:"btn", style: 'width:100%; background: #039BE5; border-radius:10px;' %>
                        <a class="modal-trigger btn" style="color: white; background: #039BE5; border-radius: 5px; " href="#idModalAlertaCambioPassword" onclick="showMessageChangePassword()">Guardar</a>
                    </div>
                </div>


            <% end %>
        </div>
    </div>
</div>

<!-- Modal mostarr alerta de cambuo de contraseña -->
<div id="idModalAlertaCambioPassword" class="modal">
    <div class="modal-content">
      <h6 style="font-family: FuturaStd bold">Advertencia</h6>
      <p id="id_message" style="font-family: FuturaStd Medium; text-align: center;">
        Esta segura que desea ejecutar su acción, por favor asegúrese de no olvidar su nueva contraseña.
      </p>

      <%= form_with model: @user, url: cambiar_password_save_path  do |form| %>
            
            <%= csrf_meta_tags %>

            <div id="id_inputs"></div>
            
            <div class="row">                     
                <div class="col s12 m10"></div>
                <div class="col s12 m2">
                    <input type="submit"  value="Aceptar" style="background: #039BE5; color:white; height: 40px; width:100%; border:none; border-radius: 10px;"/>
                </div>
            </div>

        <% end %>
       
    </div>
</div>


<script>
    function showMessageChangePassword() {

        var password_confirmation = document.getElementById('password_confirmation').value;
        var password = document.getElementById('password').value;

        inputshtml= '<input id="password" name="password" type="text" value="' + password +'" hidden/><input id="password_confirmation" name="password_confirmation" type="text" value="' + password_confirmation +'" hidden/>';

        $("#id_inputs").html(inputshtml);

    }

</script>