<div class="card" style="width: 60%; margin-left:20%; margin-right:20%; margin-top:10%;">
    <div class="card-header">
        <h6 style="margin-left:2%; font-family: FuturaStd Medium;">Nuevo Registro de Impresión Diagnóstica</h6>
        <div class="row">
            <div class="col s12 m12">
                <%= form_with url: enfermedades_new_path, method: :post, id: "formulario" do  |form| %>
                    <%= csrf_meta_tags %>

                    <div class="row">
                        <div class="col s12 m12">
                            <fieldset class="field-set-style" id="group_diagnostic_code">
                                <legend class="legend-style">Código</legend>
                                <%= form.text_field :diagnostic_code, maxlength: 5, placeholder: 'Código de enfermedad', style:"height: 100%; padding:none; border-bottom: none;" %>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <fieldset class="field-set-style" id="group_diagnostic_des">
                                <legend class="legend-style">Descripción de Impresión</legend>
                                <%= form.text_area :diagnostic_des, maxlength: 200, placeholder: 'Descripción de impresión diagnóstica.....', style:"padding:none; border: none;" %>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">                     
                        
                        <div class="col s12 m6"></div>
                        <div class="col s12 m3">
                            <a href="/enfermedades" class="btn" style="background:#E5E5E5; color: black; margin-bottom: 10px; border 1px solid black; width: 80%; font-family: FuturaStd Medium;">
                                    Volver
                            </a>
                        </div>
                        <div class="col s12 m3">
                            <%= form.submit 'Guardar', class:'submit_style', style:"color: white;"%>
                            
                        </div>
                        
                    </div>


                 <%end%>       
            </div>
        </div>
    </div>
</div>