<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <%= wicked_pdf_stylesheet_link_tag 'reports_prescription' %>
  </head>
  <body>

    <style>

        tr th {
          text-align: left;
        }
        tr td {
          text-align: left;
        }
    </style>
    
    <div id="header">
        <table id="DataTableId" style="width:100%; border-bottom: 1px solid black">
            <tr>
                <td style="width:250px;">
                    <%= image_tag wicked_pdf_asset_base64('logo.png'), options = { :width => 150, :height => 100} %>
                </td>
                <td>
                    <p style="width:100%; margin-top:-5px;"><strong style="margin-left:89%">Telemed</strong></p>
                    <p style="width:100%; margin-top:5%;"><h3 style="margin-left:40%;">GERENCIA ADMINISTRATIVA DE SALUD</h3></p>
                </td>
            </tr>
        </table>
        
    </div>
    <div id="content">
      <div style="width: 100% height: 30px; border-top: 1px solid black; border-bottom: 1px solid black; text-align: center; font-family: FuturaStd bold; background: #C8C8C8;">
        <p>Pacientes Asegurados vs Particulares</p>
      </div>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th scope="col" style="font-family: FuturaStd Medium; width: 10%;">Fecha de Cita</th>
            <th scope="col" style="font-family: FuturaStd Medium; width: 20%;">Médico</th>
            <th scope="col" style="font-family: FuturaStd Medium; width: 20%;">Paciente</th>
            <th scope="col" style="font-family: FuturaStd Medium; width: 20%;">Particular / Asegurado</th>
            <th scope="col" style="font-family: FuturaStd Medium; width: 15%;">Seguro</th>
            <th scope="col" style="font-family: FuturaStd Medium; width: 15%;">Compañia</th>
          </tr>
        </thead>
        <tbody>
            <% @doctor_appointments.each do |appointment| %>
              <tr>
                <td style="font-family: FuturaStd Medium; width: 10%;"><%= appointment.created_at.strftime("%d/%m/%Y")  %></td>
                <td style="font-family: FuturaStd Medium; width: 20%;"><%= appointment.doctor.name + " " + appointment.doctor.last_name %></td>
                <td style="font-family: FuturaStd Medium; width: 20%;"><%= appointment.patient.name + " " + appointment.patient.last_name %></td>
                                        
                <% if appointment.patient.insured_patients.length > 0  %>
                  <td style="font-family: FuturaStd Medium; width: 20%;">Asegurado</td>
                  <td style="font-family: FuturaStd Medium; width: 15%;"><%= appointment.patient.insured_patients[0].insurance.name%></td>
                  <td style="font-family: FuturaStd Medium; width: 15%;"><%= appointment.patient.insured_patients[0].company.name%></td>
                <% else %>
                  <td style="font-family: FuturaStd Medium; width: 20%;">Particular</td>
                  <td style="font-family: FuturaStd Medium; width: 15%;">N/A</td>
                  <td style="font-family: FuturaStd Medium; width: 15%;">N/A</td>
                <% end %>                        
              </tr>
              <% end %>
          </tbody>   
        </table>       
    </div>
  </body>	
</html>	