<div class="card" style="width: 60%; margin-left:20%; margin-right:20%; margin-top:10%;">
    <div class="card-header">
        <h6 style="margin-left:2%; font-family: FuturaStd Medium;">Nuevo registro de plan de suscripción</h6>
        <div class="row">
            <div class="col s12 m12">
                <%= form_with model: @plan, url: administracion_plans_new_path, id: "formulario" do |form| %>
                    <%= csrf_meta_tags %>

                    <div class="row">                     
                        <div class="col s12 m12">
                            <fieldset class="field-set-style" id="group_name">
                                <legend class="legend-style">Plan de suscripción</legend>
                                <%= form.text_field :name, maxlength: 40, placeholder: 'Nombre del nuevo plan', style:"height: 100%; padding:none; border-bottom: none;" %>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">                     
                        <div class="col s12 m12">
                            <fieldset class="field-set-style" id="group_cost">
                                <legend class="legend-style">Costo</legend>
                                <%= form.text_field :cost, maxlength: 4, placeholder: 'costo..$', style:"height: 100%; padding:none; border-bottom: none;" %>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">                     
                        <div class="col s12 m12">
                            <fieldset class="field-set-style" id="group_total_appointments">
                                <legend class="legend-style">Total de citas</legend>
                                <%= form.text_field :total_appointments, maxlength: 3, placeholder: 'Cantidad de citas ... #', style:"height: 100%; padding:none; border-bottom: none;" %>
                            </fieldset>
                        </div>
                    </div>

                     <div class="row">                     
                        <div class="col s12 m12">
                            <fieldset class="field-set-style" id="group_total_appointments">
                                <legend class="legend-style">Total de citas</legend>
                                <%= select_tag "type_plan", options_for_select(["Particular" ,"De Seguro" ]), style:"height: 100%; padding:none; border-bottom: none;"%>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m6"></div>
                        <div class="col s12 m3">
                            <a href="/administracion/plans" class="btn" style="background:#E5E5E5; color: black; margin-bottom: 10px; border 1px solid black; width: 100%; font-family: FuturaStd Medium;">
                                    Volver
                            </a>
                        </div>
                        <div class="col s12 m3">
                            <%= form.submit 'Guardar', class:"btn", style:"color: white; width: 100%; text-aling:center; background:#2196F3; border:none; border-radius: 5px; height: 40px;"%>
                        </div>                     
                        
                    </div>

                <% end %>
            </div>
        </div>
    </div>
</div>