<p><h5 style="text-align:center; color:Black; font-family: FuturaStd Medium;">Récipe</h5></p>
<%= form_with model: @prescription, url: '/update-prescription-by-Appointment-from-call/' + @appointment[0].prescription.id.to_s, method: :post do |form| %>
        <%= csrf_meta_tags %>

        <%= form.text_field :doctor_id, value: object[:chat].doctor_id, hidden: true %>
        <%= form.text_field :patient_id, value: object[:chat].patient_id, hidden: true %>
        <%= form.text_field :patient_plan_id, value: object[:plan].id, hidden: true %>

        <div class="row">
            <div class="col s12 m12">
                <fieldset class="field-set-style" id="group_name" style="padding: 0px;">
                    <legend class="legend-style" style="margin-left:2%;">Medicinas</legend>
                      <%= form.text_area :medicine, size: "60x30", class: 'textarea_style', value: @appointment[0].prescription.medicine, style:"border:none;" %>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <fieldset class="field-set-style" id="group_name" style="padding: 0px;">
                    <legend class="legend-style" style="margin-left:2%;">Indicaciones</legend>
                      <%= form.text_area :use, size: "60x30", class: 'textarea_style', value: @appointment[0].prescription.use, style:"border:none;" %>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <%= form.submit 'Guardar', class: 'submit_style close-call'%>
            </div>
        </div>


<% end %>
