<p><h5 style="text-align:center; color:Black; font-family: FuturaStd Medium;">Paraclínico</h5></p>
<%= form_with model: @clinical_document, url: '/new-clinical-document-by-Appointment', method: :post do |form| %>
    <%= csrf_meta_tags %>

    <%= form.text_field :doctor_id, value: @chat.doctor_id, hidden: true %>
    <%= form.text_field :patient_id, value: @chat.patient_id, hidden: true %>

    <div class="row">
            <div class="col s12 m12">
                <fieldset class="field-set-style" id="group_name" style="padding: 0px;">
                    <legend class="legend-style" style="margin-left:2%;">información paraclínico</legend>
                      <%= form.text_area :info, size: "60x30", class: 'textarea_style', placeholder: 'Detalle del coumento', style:"border:none;" %>
                </fieldset>
            </div>
    </div>

    <div class="row" >
            <div class="col s12 m4">
                <%= form.submit 'Guardar', class: 'submit_style close-call'%>
            </div>
    </div>

<% end %>

